extends layout

block context
  block preamble
  - var action = '/ops'
  if (!operation.isNew)
    - action += '/' + operation.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  form.form-horizontal(method="post", action=action, enctype="multipart/form-data")
    if (!operation.isNew)
      input(type="hidden", name="id", value=operation.id)
      input(type="hidden", name="_method", value="PUT")

    .control-group
      label.control-label(for='system') Solar System
      .controls
        input#system(type='text', name="system", value=operation.system, placeholder='Enter the solar system', autocomplete='off')
        span.help-block What system is this operation taking place in?
      :coffeescript
        populateSystems = ->
          $.getJSON "/data/systems.json", (systems) ->
            system_names = []

            for name of systems
              system_names.push systems[name]

            $('#system').typeahead
              source: system_names
              items: 8

        $ ->
          populateSystems()

    .control-group
      label.control-label(for='starts_at') Start Time
      .controls
        span.input-append.date.starts_at
          input#starts_at(type='text', name="starts_at", value=formatDatetime(operation.starts_at), size='16', data-format='MM/dd/yy hh:mm', data-pickSeconds=false)
          span.add-on
            i(data-time-icon='icon-time', form-date-icon='icon-calendar')
      :coffeescript
        $ ->
          $('.date.starts_at').datetimepicker()

    .form-actions
      button.btn.btn-primary(type='submit') Save changes
